RewriteEngine On
# редирект с www на без www
RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

# Спрятать index.html
RewriteCond %{THE_REQUEST} /index\.html(/(.*?))? [NC]
RewriteRule ^(.*?)index\.html(/(.*?))?$ /$1$2 [L,R=301,NC,NE]

# Спрятать index.php
RewriteCond %{THE_REQUEST} /index\.php(/(.*?))? [NC]
RewriteRule ^(.*?)index\.php(/(.*?))?$ /$1$2 [L,R=301,NC,NE]

# Вырезать (спрятать) папку _service 1-й этап рабочего варианта
RewriteCond %{DOCUMENT_ROOT}/_service/$1 -f
RewriteRule ^(.*)$ _service/$1 [L,QSA]
# 2-й этап
RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule ^_service/(.+)$ http://promen.ru/$1 [R=301,L]
# 3-й этап
RewriteRule ^comment /_service/comment/index.html [L]

#SSILegacyExprParser on
DefaultLanguage ru
AddDefaultCharset UTF-8
php_value default_charset "UTF-8"

AddHandler server-parsed .shtml .html
Options +ExecCGI
RemoveHandler .html .htm
AddType application/x-httpd-php .php .htm .html .phtml
php_value session.auto_start 1
Options -Indexes

ErrorDocument 400 /errors.php
ErrorDocument 403 /errors.php
ErrorDocument 404 /errors.php
ErrorDocument 405 /errors.php
ErrorDocument 408 /errors.php
ErrorDocument 500 /errors.php
ErrorDocument 502 /errors.php
ErrorDocument 504 /errors.php

AddHandler cgi-script .py