/* Правила для экранной версии представления данных в гибридном жестко-резиновом шаблоне с тремя колонками  */
@media screen {
  /* Общие установки для страницы */
  html, body {
    margin: 0;  
    padding: 0;
    border: 0;
    display: table;   /* Эта строка позволяет более корректно отображать в очень малом масштабе на малом экране */
    width: 100%;      /* Эта строка позволяет более корректно отображать в очень малом масштабе на малом экране  */
  }
  body {
    color: #000;
    width: 100%;          /* 100%; 1348px; - Установка жесткого по центру размера шаблона */
    /* background: #fff url(/images/bg-menu.jpg) scroll 100% 0; */
    background: #fff;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 100%; 
  }
  
  /* "Подложка" для всей страницы 
  #carrier {
    width: 100%;
    background: #fff;
  } */

  /* Шрифт для "шапки", меню навигации, заголовков 1-го и 2-го уровней в основном тексте и "подвала" */
  #header, #menu, #text h1, #text h2, #footer, #undheader, #right_col, #title1 {
    font-family: Georgia, "Times New Roman", Times, serif; 
  }

  /* Общие правила оформления "шапки" и "подвала" */
  #header, #undheader, #footer p {
    padding: 0; 
    margin: 0;
  }

/* Оформление логотипа сайта */
  #img_log {
     float: left;
     margin: 4px 0 0 15px;
   }

  /* Представление названия сайта */
  #header {
    font-size: 130%;
    color: #369;
	font-weight: 600;
    letter-spacing: 1px;
    word-spacing: 10px;
    text-align: center;
    background: #f8f8ff;
    border-bottom: solid 12px #f8f8ff;
	border-top: solid 7px #f8f8ff;
  }

  /* #header1 {
    font-size: 130%;
    color: #369;
	font-weight: 600;
	text-decoration: none;
	margin: 0;  
	padding: 0;
	border: 0;
    letter-spacing: 1px;
    word-spacing: 10px;
    text-align: center;
    background: #f8f8ff;
    border-bottom: solid 12px #f8f8ff;
	border-top: solid 7px #f8f8ff;
  } */
  
  /* Представление девиза */
  #undheader {
     font-size: 120%;
     background: #369;
     padding: 0 0 4px 0;
     text-align: center;
     color: #fff;
     border-bottom: solid 5px #69c;
  }

  /* Организация ссылки в названии сайта на главной странице */
  #header a:link, #header a:visited, #header a:hover, #header a:active {
    color: #369;
    text-decoration: none;
  }
  
  /* Организация ссылки в названии сайта на остальных страницах */
  #header1 a:link, #header1 a:visited, #header1 a:hover, #header1 a:active {
    color: #369;
    text-decoration: none;
  }

/* Огранизация ссылок в девизе */
  #undheader a:link, #undheader a:visited, #undheader a:hover, #undheader a:active {
    color: #fff;
    text-decoration: none;
  }

/* Позиционирование строки пути по сайту */
  #way {
    margin-left: 30px; 
  }
  
 /* Оформление ссылок пути по сайту */
  #way a {
    color: #666;             
    text-decoration: none;
  }
  #way a:hover, #way a.current:link {
    text-decoration: underline;
  }
 

/* Блок поиска по сайту */
  #sear {
    text-align: left;
    margin: 15px 0 15px 5px;
  }
   
/* Отображение всех кнопок типа "submit" */
input[type="submit"]  {
  font-size: 11px;
  padding: 1px;
  }   
   
/* Оформление информационных сообщений в поиске по сайту */
   #search_info {
      color: #990000;
      font-size: 17px;
   }

/* Оформление ошибочных сообщений в поиске по сайту */
   #search_info_err {
      color: #990000;
      font-size: 16px;
      font-weight: bold;
   }
   
 
 
   
/* !!! Позиционирование и отображение трех колонок  !!! */  
  
/* Общее оформление обеих колонок справа */
 #right_col, #divisions  {
   float:left;
   margin-top: 20px;  
   text-align: center;
   margin-bottom: 50px;
   overflow: hidden;
   padding-bottom: 5px;
  }  

/* Позиционирование самой правой колонке */
  #right_col {
   margin-left: 1%;
   width: 15%;
   /* background: #f8f8ff url(/images/bg-menu.jpg) center repeat-y scroll; */
   background: #f8f8ff;
   border-style: solid; 
   border-width: 1px; 
   border-color: #ccc;
  }  

  /* Позиционирование колонки "Разделы" */
  #divisions   { 
   width: 18%;
   border-style: solid; 
   border-width: 0 0 0 1px; 
   border-color: #ccc;
  }    

 /* Оформление заголовков title1 в колоне "#right_col" */
  #title1 {  
   width: 100%;
   color: #fff;
   font-size: 120%;
   background-color: #369;
   text-align: center;
   margin: 0 0 10px 0;
   padding: 1px 0 2px 0px;
  }
  
/* Оформление заголовков title2 в колонке "Разделы" */
  #title2 {  
   width: 100%;
   color: #000; 
   font-size: 90%;
   text-align: left; 
   margin: 0;
   padding-left: 4px;
  }
  
 /* Оформление заголовков title2 в колонке "Разделы" */ 
  #title2 a {
    text-decoration: none;
  }
  #title2 a:link {
    color: #000;
  }
  #title2 a:visited
  {
    color: #000;
  }
  #title2 a:hover {
    text-decoration: underline;
	color: #996600;
  }
  #title2 a:active {
    color: #000;
  }
  
  /* Блок навигации */
  #menu {
    font-size: 100%;
    text-align: left;
    padding: 0 0 10px 2px;
  }

  /* Настройка совместимости блока навигации с IE5 */
  #menu p {
    padding: 1px 0;
    margin: 0;
  }

  /* Благодаря свойству display гиперссылки и
     контейнер <span>...</span>, размещенные в меню, из
     внутристрочных элементов становятся блочные, что дает возможность
     указать ширину при помощи свойства width */
  #menu a, #menu span {
    display: block;
    width: 90%;
/*    font-weight: bold; */
    margin: auto;
  } 

  /* Правила представления кнопок меню. */
  /* Исходное состояние */
  #menu a {
    border-style: solid;
    border-width: 1px; 
    border-color: #f8f8ff;
    color: #000000;              /* Первоначальный самый темный цвет кнопок */
    text-decoration: none;
  }

  /* ???
  #menu a:link, #menu a:visited {
    background: #f8f8ff;  
    border: solid 1px #f8f8ff;
  } */

  /* Отображение ссылок при наведении курсора */
  #menu a:hover, #menu a.current:link {
    border-style: solid;
    border-width: 1px; 
    border-color: #f8f8ff;
    color: #666666;               /* Коричнево - зеленоватые при навидении курсора  - #666  #808080; */
    text-decoration: underline;
  }

  /* Блокировка смещения ссылок при их нажатии */
 #menu a:active, #menu a.current:visited, #menu span {
    border-style: solid solid; 
    border-width: 1px;
  }

  /* Отображение ссылок (кнопок) 3-го уровня после их нажатия */
  #menu a.current:link, #menu a.current:visited, #menu span {
    border-style: solid;
    border-width: 1px; 
    border-color: #f8f8ff;
    color: #cccccc;              /* Самый светлый, при нахождении на стр. 3-го уровня - #a9a9a9; */
	text-decoration: none;
  }

  /* Отображение ссылок (кнопок) 3-го уровня при наведении курсора */
  #menu a.current:hover {
    border-style: solid;
    border-width: 1px; 
    border-color: #f8f8ff;
    color: #666666;               /* Коричнево - зеленоватые при навидении курсора  - #666  #808080; */
    text-decoration: underline;
  }

  /* Отображение нажатых кнопок 2-го уровня */
  #menu span {
    color: #999999;             /* Еще немного светлее при нахождении на стр. 2-го уровня - #808080; */
  }
/* !!!Конец блока навигации!!! */


/*Оформление заголовка "Разделы" */ 
#divis {
    text-align: left;
    font-size: 120%;
    font-weight: normal;
    font-weight: bold;
    color: #369;
    margin: 0 0 1px 3px;
  }

 /* Общее оформление материала "Часто ищут", "Разделы"  и "Данные"  */  
  #article, #under1 {
    text-align: left;
    color: #000;
    font-size: 85%;
    margin-left: .7em;
    margin-right: .2em;
  }
 
/* Оформление ссылок в  "Часто ищут", "Разделы", как в основном тексте */
  #article a {
    text-decoration: none;
  }
  #article a:link {
    color: #996600;								/* #f60; */
  }
  #article a:visited
  {
    color: #666;
  }
  #article a:hover, #under1 a:hover {
    text-decoration: underline;
	color: 	#996600;
  }
  #article a:active {
    color: #996600;							/* #f00 */
  }

   /* Оформление ссылок в разделе Данные
  #update_data a {
    text-decoration: none;
  }
  #update_data a:link {
    color: 	#996600;									
  }
  #update_data a:visited {
    color: #666;
  }
  #update_data a:hover {
    text-decoration: underline;
    color: 	#996600;
  }
  #update_data a:active {
    color: 	#996600;									
  }  */
  
/* Оформление "Страница" */  
  #under1 {
    font-size: 70%;
  }

  

 /* Оформление элементов области основного текста, включая заголовки h1, h2 */
  #text {
    float: left;
    margin: 20px 1% 1em 2%;
    width:61%;
    overflow: hidden;
  }
  
  #text h2 {
    font-size: 120%;
    font-weight: normal;
    font-weight: bold;
    color: #369;
    margin-bottom: 5px;
  }

  #text h1 {
    font-size: 140%;
    font-weight: normal;
    font-weight: bold;
    color: #369;
    margin-bottom: 5px;
  }
  
  /* Организация заголовков h1, h2 c псевдоклассом first-child */
  #text h1:first-child, #text h2:first-child {
    margin-top: 0;
  }

  /* Оформлнение абзацев основного текста */
  #text p {
    text-align: justify;
    text-indent: 1.5em;
    margin: 0;
  }

  /* Представление нумерованных и маркированных списков
     в основном тексте */
  #text ul, text ol {
    margin-top: 0;
    margin-bottom: 0;
  }
  #text ul {
    list-style-type: disc;
  }

  /* Оформление ссылок в основном тексте */
  #text a {
    text-decoration: none;
  }
  #text a:link {
    color: 	#996600;									/* #f60; */
  }
  #text a:visited {
    color: #666;
  }
  #text a:hover {
    text-decoration: underline;
    color: 	#996600;
  }
  #text a:active {
    color: 	#996600;									/* #f60; */
  }

/* Оформление изображений в верхней левой части текста */
  div.img_lt {
     float: left;
     margin: 5px 15px 1px 0;
     display: inline;
   }

/* Оформление конца страницы */
  #end_page { 
     font-size: 12px;
     color: #000000; 
     border-bottom: solid 1px #ccc;
     padding-bottom: .5em;
   }

/* !!! Конец позиционирования и отображения трех колонок  !!! */  




  /* Представление "подвала" и содержащихся в нем элементов */
  #footer {
    width: 100%;
    clear: both;
    background: #369;
    text-align: center;
    color: #fff;
  }

  #footer a {
    text-decoration: none;
  }
  #footer a:link {
    color: #fff;
  }
  #footer a:visited
  {
    color: #fff;
  }
  #footer a:hover {
    text-decoration: underline;
	color: #cccccc;
  }
  #footer a:active {
    color: #fff;
  }

  #upfoot {
     font-size: 120%;
     background-color: #69c;
     border-top: solid 2px #69c;
     border-bottom: solid 2px #69c;
  }

  #foot {
     font-size: 70%;
     background-color: #369;
     border-top: solid 25px #369;
     border-bottom: solid 25px #369;
  }
}

/* Отображение кнопки "Наверх" */
  #upbutton {
    background: rgba(204, 204, 204, 0.4) no-repeat top left;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    display: none;
    position: fixed;
    z-index: 999;
	text-decoration: none;
  }
    #upbutton:hover {
	background-color: rgba(204, 204, 204, 0.7);
  }

/* !!! Оформление отображения кнопки обратной звязи  !!!  */
.email-bt2 {
        background:#F95C18;
        border:2px solid #F95C18;
        border-radius:50%;
        box-shadow:0 8px 10px rgba(249,92,24,0.3);
        cursor:pointer;
        height:68px;
        text-align:center;
        width:68px;
        position: fixed;
        right: 20%;
        bottom: 2%;
        z-index:999;
        transition:.3s;
        -webkit-animation:email-an linear 1s infinite;
        animation:email-an linear 1s infinite;
		opacity:0.94;
/*		filter:alpha(opacity=40); */
}
.email-bt2 .text-call2{
        height:68px;
        width:68px;        
        border-radius:50%;
        position:relative;
        overflow:hidden;
}
/* .email-bt2 .text-call2 #chat a {
    text-align: center;
    color:#F95C18;
    opacity: 0;
    font-size: 0;
    position:absolute;
    left: 5px;
    top: 15px;
    line-height: 14px;
    font-weight: 600;
    text-transform: uppercase;
    transition: opacity .3s linear;
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
}
.email-bt2 .text-call2 #letter a {
    text-align: center;
    color:#F95C18;
    opacity: 0;
    font-size: 0;
    position:absolute;
    left: 15px;
    top: 22px;
    line-height: 14px;
    font-weight: 600;
    text-transform: uppercase;
    transition: opacity .3s linear;
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
} */
/* .email-bt2 .text-call2:hover span {
    opacity: 1;
    font-size: 9px;
} */
/* #chat {
    text-align: center;
    color:#F95C18;
    opacity: 0;
    font-size: 0;
    position:absolute;
    left: 40px;
    top: 2px;
    line-height: 14px;
    font-weight: 600;
    text-transform: uppercase;
    transition: opacity .3s linear;
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
}
 .text-call2 span#letter {
    text-align: center;
    color:#F95C18;
    opacity: 0;
    font-size: 0;
    position:absolute;
    left: 15px;
    top: 10px;
    line-height: 14px;
    font-weight: 600;
    text-transform: uppercase;
    transition: opacity .3s linear;
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
} 
.email-bt2:hover i {
    display:none;
}
.email-bt2:hover {
        z-index:999;
        background:#fff;
        transition:.3s;
}
.email-bt2:hover i  {
        color:#38a3fd;
        font-size:40px;
        transition:.3s;
}*/
.email-bt2 i {
        color:#fff;
        font-size:29px;
        transition:.3s;
        line-height: 66px;
}
.email-bt2 i  {
        -webkit-animation: opsimple 3s infinite;
        animation: opsimple 3s infinite;
}

/* Оформление отображения чата */
.email-bt2:hover i#ph {
    display:none;
}
.email-bt2:hover i#ph {
        color:#38a3fd;
        font-size:40px;
        transition:.6s;
}
.email-bt2 i#ph {
        color:#fff;
        font-size:29px;
        transition:.6s;
        line-height: 66px;
}
.email-bt2 i#ph  {
        -webkit-animation: opsimple 6s infinite;
        animation: opsimple 6s infinite;
}
/* Конец оформления отображения чата */

/* Оформление отображения письма */
.email-bt2:hover i#let {
        color:#38a3fd;
        font-size:40px;
        transition:.10s;
}
.email-bt2:hover i#let {
    display:none;
}
.email-bt2 i#let {
        color:#fff;
        font-size:29px;
        transition:.10s;
        line-height: 66px;
}
.email-bt2 i#let  {
        -webkit-animation: opsimple 10s infinite;
        animation: opsimple 10s infinite;
}
/* Конец отображения письма */

@-webkit-keyframes email-an {
        0% {
        box-shadow:0 8px 10px rgba(249,92,24,0.3),0 0 0 0 rgba(249,92,24,0.2),0 0 0 0 rgba(249,92,24,0.2)
}
40% {
        box-shadow:0 8px 10px rgba(249,92,24,0.3),0 0 0 15px rgba(249,92,24,0.2),0 0 0 0 rgba(249,92,24,0.2)
}
80% {
        box-shadow:0 8px 10px rgba(249,92,24,0.3),0 0 0 30px rgba(249,92,24,0),0 0 0 26.7px rgba(249,92,24,0.067)
}
100% {
        box-shadow:0 8px 10px rgba(249,92,24,0.3),0 0 0 30px rgba(249,92,24,0),0 0 0 40px rgba(249,92,24,0.0)
}
}@keyframes email-an {
        0% {
        box-shadow:0 8px 10px rgba(249,92,24,0.3),0 0 0 0 rgba(249,92,24,0.2),0 0 0 0 rgba(249,92,24,0.2)
}
40% {
        box-shadow:0 8px 10px rgba(249,92,24,0.3),0 0 0 15px rgba(249,92,24,0.2),0 0 0 0 rgba(249,92,24,0.2)
}
80% {
        box-shadow:0 8px 10px rgba(249,92,24,0.3),0 0 0 30px rgba(249,92,24,0),0 0 0 26.7px rgba(249,92,24,0.067)
}
100% {
        box-shadow:0 8px 10px rgba(249,92,24,0.3),0 0 0 30px rgba(249,92,24,0),0 0 0 40px rgba(249,92,24,0.0)
}
}

@keyframes opsimple {
0% {
    opacity: 0;
}
40% {
    opacity: 1;
}

80% {
    opacity: 1;
}
100% {
    opacity: 0;
}
}

@-webkit-keyframes opsimple {
0% {
    opacity: 0;
}
40% {
    opacity: 1;
}
80% {
    opacity: 1;
}
100% {
    opacity: 0;
}
}
/* !!! Конец отображения кнопки обратной звязи !!! */

  
/* Правила для печатной версии представления данных.
   Этот фрагмент листа стилей еще проще. При помощи свойства
   display со значением none мы скрываем все элементы, не
   требующиеся в печатной версии - "шапку", блок навигации
   и "подвал". Остается только область основного текста.
   Используем рубленый шрифт кегля 16 пунктов для заголовков,
   антикву кегля 12 пунктов для всего остального. Всему
   тексту, включая гиперссылки, назначаем черный цвет. */
@media print {
  body {
    color: #000;
    font: 12pt "Times New Roman", Times, serif;
  }
  #header, #undheader, #footer, #divisions, #right_col, #comment, #sear, div.img_lt, #way {
    display: none;
  }
  #text h2 {
    font: 16pt Arial, Helvetica, sans-serif;
  }
/*  #text h1 {
    font: 18pt Arial, Helvetica, sans-serif;
  } */
  #text a {
    color: #000;
    text-decoration: none;
  }
}