<div id="footer">

<div id="upfoot">
<a href="/index.html">Главная</a>
&nbsp;&#124;&nbsp;<a href="/about/index.html">О сайте</a>
&nbsp;&#124;&nbsp;<a href="/connect/index.html">Контакты</a>
&nbsp;&#124;&nbsp;<a href="/map/index.html">Карта сайта</a>
</div>

<div id="foot">
<a href="/index.html"><img src="/images/logo-full-wh-sm.jpg" alt="Логотип сайта Михаила Ярошевича - Программные Средства" align="top" title="Логотип Сайта Программные Средства" border="0" /></a>&nbsp;&nbsp;&copy;&nbsp;&nbsp;2017&nbsp;&nbsp;<a href="/connect/index.html" alt="Связь с Михаилом Ярошевичем" title="Переход на станицу Контакты" border="0">Михаил Ярошевич</a> <br />
Размещение материалов допустимо только при наличии активной ссылки на первоисточник.

<noindex><script language="javascript" type="text/javascript" src="/js/up.js"></script></noindex>
<a id="upbutton" href="#" onclick="smoothJumpUp(); return false;"><img style="color: #333333; font-size: 17px;"src="/images/up4_1.png" alt="&#8593;&nbsp;ВВЕРХ" border="none" title="Наверх">
</a>

<a name="down" id="down"></a>
</div>

</div> <!-- id="footer" -->

</div> <!-- id="carrier" -->

<noindex><script language="javascript" type="text/javascript" src="/js/way.js"></script></noindex>

</body>

</html>
