<style type="text/css">
<!--
@import url(/_styles/style.css);
-->
</style>

  <style type="text/css">
    <!--
    @import url(/_service/comment/style_com.css);
    -->
  </style>


<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

</head>

<body>

<div id="carrier">

<div>   <!-- id="header"> -->
<div id="img_log"><a href="/"><img src="/images/logo-my.jpg" border="0" /></a></div>
<p id="header"><a href="/">Скрипты для сайта html</a></p>
</div>

 
<div>   <!-- id="undheader"> -->
<div id="img_log"><a href="/"><img src="/images/domen-scriptsmy.jpg" border="0" /></a></div>
<p id="undheader"><a href="/">только свободно распространяемое программное обеспечение</a></p>
</div>
<!--	<a href="/index.html">Главная</a> -->
	<!-- <a href="/news-it/index.html">Новости ИТ</a> -->
<!--	s c r i p t s m y . r u &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; 
	&nbsp;&#124;&nbsp;<a href="/scripts/index.html">Скрипты</a>
	&nbsp;&#124;&nbsp;<a href="/about/index.html">О сайте</a>
	&nbsp;&#124;&nbsp;<a href="/connect/index.html">Контакты</a>
	&nbsp;&#124;&nbsp;<a href="/map/index.html">Карта сайта</a> -->
	<!-- &nbsp;&#124;&nbsp;<a href="/map/index.html">Форум</a> 
</div> -->


<!-- <div id="way">
<div id="this_way"></div>
</div> -->